label.valid {
	width: 24px;
	height: 24px;
	background: url(../img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}

label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

#map-canvas {
	height: 500px;
}

#map-canvas img {
	max-width: none;
}

table tr {
	cursor: pointer;
}