{% extends "base.html" %} {% block content %}
<div class="page-header">
	<h1>
		Popular Event Radar <small>About</small>
	</h1>
</div>

<h3>What is EventRadar?</h3>
<p>EventRadar is a free app that helps you and your friends organize
	events.</p>
<p>When you're tired of your daily boring life and want to find some
	exciting events, use EventRadar to launch and check nearby events. And,
	when you're participating the events, you could check in!</p>

<h3>How to use EventRadar?</h3>
<p>It's very easy and intuitive to use EventRadar.</p>
<p>After you registration, you could launch your own event. Simply
	type in the title, description of the event, you are done. Oh wait! One
	last thing -- you need to give the location of your event to help us
	find it.</p>

{% endblock %}
